x-flipbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-perspective: 1400px;
  -moz-perspective: 1400px;
  -o-perspective: 1400px;
  -ms-perspective: 1400px;
  perspective: 1400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

x-flipbox > * {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  /* DO NOT ERASE THESE TRANSFORM-STYLES; they fix a flickering issue in FFOS*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

x-flipbox > *:first-child {
  transform: rotateY(0deg) translate3d(0px, 0px, 2px);
  -ms-transform: rotateY(0deg) translate3d(0px, 0px, 2px);
  -moz-transform: rotateY(0deg) translate3d(0px, 0px, 2px);
  -webkit-transform: rotateY(0deg) translate3d(0px, 0px, 2px);
  -o-transform: rotateY(0deg) translate3d(0px, 0px, 2px); }
x-flipbox > *:last-child {
  transform: rotateY(180deg) translate3d(0px, 0px, 1px);
  -ms-transform: rotateY(180deg) translate3d(0px, 0px, 1px);
  -moz-transform: rotateY(180deg) translate3d(0px, 0px, 1px);
  -webkit-transform: rotateY(180deg) translate3d(0px, 0px, 1px);
  -o-transform: rotateY(180deg) translate3d(0px, 0px, 1px); }
x-flipbox[_anim-direction="up"] > *:first-child, x-flipbox[_anim-direction="down"] > *:first-child {
  transform: rotateX(0deg) translate3d(0px, 0px, 2px);
  -ms-transform: rotateX(0deg) translate3d(0px, 0px, 2px);
  -moz-transform: rotateX(0deg) translate3d(0px, 0px, 2px);
  -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 2px);
  -o-transform: rotateX(0deg) translate3d(0px, 0px, 2px); }
x-flipbox[_anim-direction="up"] > *:last-child {
  transform: rotateX(-180deg) translate3d(0px, 0px, 1px);
  -ms-transform: rotateX(-180deg) translate3d(0px, 0px, 1px);
  -moz-transform: rotateX(-180deg) translate3d(0px, 0px, 1px);
  -webkit-transform: rotateX(-180deg) translate3d(0px, 0px, 1px);
  -o-transform: rotateX(-180deg) translate3d(0px, 0px, 1px); }
x-flipbox[_anim-direction="down"] > *:last-child {
  transform: rotateX(180deg) translate3d(0px, 0px, 1px);
  -ms-transform: rotateX(180deg) translate3d(0px, 0px, 1px);
  -moz-transform: rotateX(180deg) translate3d(0px, 0px, 1px);
  -webkit-transform: rotateX(180deg) translate3d(0px, 0px, 1px);
  -o-transform: rotateX(180deg) translate3d(0px, 0px, 1px); }

x-flipbox[flipped] {
  /* Note: adding a dummy style to flipped flipboxes forces Android 4+'s 
   * native browser to rerender the flipbox, fixing an issue where the flipping 
   * animation wouldn't play normally */ }
  x-flipbox[flipped]:after {
    /* DO NOT ERASE THIS :after SELECTOR */
    content: "";
    display: none; }
  x-flipbox[flipped] > *:first-child {
    transform: rotateY(180deg) translate3d(0px, 0px, 2px);
    -ms-transform: rotateY(180deg) translate3d(0px, 0px, 2px);
    -moz-transform: rotateY(180deg) translate3d(0px, 0px, 2px);
    -webkit-transform: rotateY(180deg) translate3d(0px, 0px, 2px);
    -o-transform: rotateY(180deg) translate3d(0px, 0px, 2px); }
  x-flipbox[flipped] > *:last-child {
    transform: rotateY(360deg) translate3d(0px, 0px, 1px);
    -ms-transform: rotateY(360deg) translate3d(0px, 0px, 1px);
    -moz-transform: rotateY(360deg) translate3d(0px, 0px, 1px);
    -webkit-transform: rotateY(360deg) translate3d(0px, 0px, 1px);
    -o-transform: rotateY(360deg) translate3d(0px, 0px, 1px); }

x-flipbox[_anim-direction="left"][flipped] > *:first-child {
  transform: rotateY(-180deg) translate3d(0px, 0px, 2px);
  -ms-transform: rotateY(-180deg) translate3d(0px, 0px, 2px);
  -moz-transform: rotateY(-180deg) translate3d(0px, 0px, 2px);
  -webkit-transform: rotateY(-180deg) translate3d(0px, 0px, 2px);
  -o-transform: rotateY(-180deg) translate3d(0px, 0px, 2px); }
x-flipbox[_anim-direction="left"][flipped] > *:last-child {
  transform: rotateY(0deg) translate3d(0px, 0px, 1px);
  -ms-transform: rotateY(0deg) translate3d(0px, 0px, 1px);
  -moz-transform: rotateY(0deg) translate3d(0px, 0px, 1px);
  -webkit-transform: rotateY(0deg) translate3d(0px, 0px, 1px);
  -o-transform: rotateY(0deg) translate3d(0px, 0px, 1px); }

x-flipbox[_anim-direction="up"][flipped] > *:first-child {
  transform: rotateX(180deg) translate3d(0px, 0px, 2px);
  -ms-transform: rotateX(180deg) translate3d(0px, 0px, 2px);
  -moz-transform: rotateX(180deg) translate3d(0px, 0px, 2px);
  -webkit-transform: rotateX(180deg) translate3d(0px, 0px, 2px);
  -o-transform: rotateX(180deg) translate3d(0px, 0px, 2px); }
x-flipbox[_anim-direction="up"][flipped] > *:last-child {
  transform: rotateX(0deg) translate3d(0px, 0px, 1px);
  -ms-transform: rotateX(0deg) translate3d(0px, 0px, 1px);
  -moz-transform: rotateX(0deg) translate3d(0px, 0px, 1px);
  -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 1px);
  -o-transform: rotateX(0deg) translate3d(0px, 0px, 1px); }

x-flipbox[_anim-direction="down"][flipped] > *:first-child {
  transform: rotateX(-180deg) translate3d(0px, 0px, 2px);
  -ms-transform: rotateX(-180deg) translate3d(0px, 0px, 2px);
  -moz-transform: rotateX(-180deg) translate3d(0px, 0px, 2px);
  -webkit-transform: rotateX(-180deg) translate3d(0px, 0px, 2px);
  -o-transform: rotateX(-180deg) translate3d(0px, 0px, 2px); }
x-flipbox[_anim-direction="down"][flipped] > *:last-child {
  transform: rotateX(0deg) translate3d(0px, 0px, 1px);
  -ms-transform: rotateX(0deg) translate3d(0px, 0px, 1px);
  -moz-transform: rotateX(0deg) translate3d(0px, 0px, 1px);
  -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 1px);
  -o-transform: rotateX(0deg) translate3d(0px, 0px, 1px); }
